<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java</title>
    <link rel="stylesheet" href="./mkgupta/notes/static/css/style.css">
    
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="./mkgupta/static/img/favicon.png" rel="icon">
    <link href="./mkgupta/static/img/favicon.png" rel="apple-touch-icon">

</head>
<body>
    <!-- title start here -->
        <h4 id="title">Java</h4>

    <div class="block">
        <p id="topic">Introduction to Programming </p>
        <a id="btn" href="/notes/static/files/Java/Introduction to Programming.pdf" target="_blank">View</a>
    </div>
    
    <div class="block">
        <p id="topic">Flow of Program</p>
        <a id="btn" href="/notes/static/files/Java/Flow of Programs.pdf" target="_blank">View</a>
    </div>
    
    <div class="block">
        <p id="topic">Introduction to JAVA</p>
        <a id="btn" href="/notes/static/files/Java/Introduction to Java.pdf" target="_blank">View</a>
    </div>
    <div class="block">
        <p id="topic">First JAVA Program</p>
        <a id="btn" href="/notes/static/files/Java/First JAVA Program.pdf" target="_blank">View</a>
    </div>
    <div class="block">
        <p id="topic">Methods in JAVA</p>
        <a id="btn" href="/notes/static/files/Java/Methods.pdf" target="_blank">View</a>
    </div>
    
</body>
</html>
